
.scrolly {
  position: relative;
}
.scrolly.isManualScrolling {
  -webkit-user-drag: none;
}
.scrolly-viewport {
  overflow: auto;
  height: 100%;
}
.scrolly-viewport.lock {
  overflow: hidden;
}
.scrolly-bar-wrap {
  /* переопределяется в JS */
  display: none;
  position: absolute;
  z-index: 1;
}
.scrolly-bar-wrap.axis-x {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 17px;
}
.scrolly-bar-wrap.axis-y {
  top: 0;
  right: 0;
  width: 17px;
  height: 100%;
}
.scrolly-bar {
  box-sizing: content-box;
  border: 4px solid transparent;
  border-width: 6px 4px;
  cursor: pointer;
}
.scrolly-bar::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #dae2ea;
  border-radius: 4px;
  transition: background-color .3s;
}
.scrolly-bar:hover::before,
.scrolly.isManualScrolling > .scrolly-bar-wrap .scrolly-bar::before {
  background: #c5d0db;
}
.scrolly-bar-wrap.axis-x .scrolly-bar {
  height: 7px;
  min-width: 20%;
}
.scrolly-bar-wrap.axis-y .scrolly-bar {
  width: 7px;
  min-height: 20%;
}


.emoji_content {
  height: 245px;
  padding: 0 10px 10px 10px;
  border: 1px solid var(--border_color);
  border-bottom-width: 0;
  border-radius: 4px 4px 0 0;
}
.emoji_content::-webkit-scrollbar {
  display: none;
}
.emoji_section_name {
  color: var(--placeholder_color);
  margin: 10px 0 8px 0;
}
.emoji_section_items {
  display: flex;
  flex-wrap: wrap;
}
.emoji_section_item {
  width: 26px;
  height: 26px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .1s;
}
.emoji_section_item:hover {
  background-color: var(--emoji_box_item_hover);
  border-radius: 3px;
}


.emoji_box {
  position: absolute;
  width: 289px;
  bottom: calc(100% + 10px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.emoji_tabs {
  display: flex;
  height: 36px;
  background-color: var(--emoji_box_bottom_background);
  border: 1px solid var(--border_color);
  border-top-width: 0;
  border-radius: 0 0 4px 4px;
}
.emoji_tab {
  cursor: pointer;
  width: 36px;
  height: 36px;
  padding: 8px;
  border-bottom: 1px solid var(--border_color);
  transition: background-color .2s;
}
.emoji_tab:first-child {
  border-radius: 0 0 0 4px;
}
.emoji_tab.active {
  background-color: #fff;
}

/* Стрелка */
.emoji_box::before, .emoji_box::after {
  position: absolute;
  content: '';
  top: 100%;
  right: 13px;
  border: solid transparent;
}
.emoji_box::before {
  border-width: 5.4px;
  border-top-color: var(--border_color);
}
.emoji_box::after {
  margin-right: 0.4px;
  border-width: 5px;
  border-top-color: var(--emoji_box_bottom_background);
  transform: translate3d(0, -1px, 0);
}


.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.messages_filler {
  width: 100%;
  height: 350px;
}
.input_wrap {
  position: relative;
  display: flex;
  width: 290px;
  border: 1px solid var(--border_color);
  border-radius: 4px;
  line-height: 18px;
}
.input {
  flex-grow: 1;
  overflow-x: hidden;
  padding: 9px 0 9px 9px;
  max-height: 150px;
}
.input:empty::before {
  content: attr(placeholder);
  color: var(--placeholder_color);
  cursor: text;
}
.input::-webkit-scrollbar {
  display: none;
}
.emoji_btn {
  box-sizing: content-box;
  flex: none;
  height: 20px;
  padding: 8px;
  cursor: pointer;
  color: var(--button_background);
  opacity: .7;
  transition: opacity .3s;
}
.emoji_btn:active {
  transform: translateY(1px);
}
.emoji_btn:hover {
  opacity: 1;
}
.toggle-enter-active,
.toggle-leave-active {
  transition: all 0.2s ease-out;
}
.toggle-enter-from,
.toggle-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

@font-face {
  font-family: Roboto VK;
  font-weight: 400;
  font-display: block;
  src: url(assets/Roboto-VK-400.woff2);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto VK';
  font-size: 15px;
  margin: 0;
  user-select: none;
}

img {
  -webkit-user-drag: none;
}

.emoji {
  margin: 0 1px -2px 1px;
  width: 16px;
  height: 16px;
}

:root {
  --placeholder_color: #939393;
  --border_color: #c5d0db;
  --button_background: #99a2ad;
  --emoji_box_bottom_background: #ebeef2;
  --emoji_box_item_hover: #f0f2f5;
}

