*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto VK;
  font-weight: 400;
  font-display: block;
  src: url('assets/Roboto-VK-400.woff2');
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto VK';
  font-size: 15px;
  margin: 0;
}
