*, *::before, *::after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

@font-face {
  font-family: Roboto VK;
  font-weight: 400;
  font-display: block;
  src: url('assets/Roboto-VK-400.woff2');
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto VK';
  font-size: 15px;
  margin: 0;
  user-select: none;
}

img {
  -webkit-user-drag: none;
}

.emoji {
  /* margin: 0 1px -2px 1px; */
  width: 16px;
  height: 16px;
}

:root {
  --placeholder_color: #939393;
  --border_color: #c5d0db;
  --button_background: #99a2ad;
  --emoji_box_bottom_background: #ebeef2;
}
